# Puerto de la aplicación
APP_PORT=3001

# JWT
JWT_SECRET=your_jwt_secret_here

# Credenciales de administrador
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password_here

# Base de datos
DATABASE_URL=postgresql://username:password@host:port/database_name
